accelerate
beartype
einops
funasr
g2p_en
g2pM
huggingface_hub
librosa
loralib
matplotlib
mido
ml_collections
nemo_toolkit
nltk
numba
numpy<2.0
onnx>=1.14.0
omegaconf
packaging
praat-parselmouth
# Preprocess / NeMo dependencies
setuptools
fiddle
cloudpickle
kaldialign
pyannote.audio
braceexpand
webdataset
jiwer
editdistance
sentencepiece>=0.1.99
g2p_en
kaldiio
resampy
datasets>=2.16.0
pyarrow>=14.0.0


pretty_midi
pyloudnorm
pyworld
rotary_embedding_torch
sageattention
scikit_learn>=1.5.0
scipy<1.13.0
six
scikit_image
soundfile
ToJyutping
# torch==2.2.0
# torchaudio==2.2.0
torchcodec
tqdm
# transformers (installed by nemo_toolkit)
# tokenizers (installed by transformers)
webrtcvad
