# Core Numerics (Pinned for NumPy 1.x compatibility)
numpy<2.0.0,>=1.26.0
numba==0.59.1
llvmlite==0.42.0
scipy==1.13.1
scikit_learn==1.4.2

# Audio Processing
librosa==0.10.2.post1
soundfile==0.12.1
resampy==0.4.3
pyloudnorm==0.1.1
pyworld>=0.3.4
praat-parselmouth==0.4.3

# ML / DL
accelerate>=0.25.0
einops>=0.7.0
huggingface_hub>=0.20.0
safetensors
transformers>=4.36.0

# Misc
setuptools
beartype
omegaconf
packaging
tqdm
sentencepiece
mido
pretty_midi
six
g2p_en
ToJyutping

# SoulX specific
funasr==1.0.18
modelscope>=1.11.0
rotary_embedding_torch
sageattention

# Preprocess dependencies
paddlepaddle>=2.6.0; sys_platform != "linux"
kaldialign
pyannote.audio==3.1.1
webdataset
jiwer
editdistance
kaldiio
scikit_image<0.23.0
matplotlib<3.9.0
ToJyutping==3.2.0
# torch==2.2.0
# torchaudio==2.2.0
torchcodec==0.10.0
tqdm==4.67.1
transformers==4.41.2
# wandb==0.24.2
webrtcvad==2.0.10
